<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/companies">企業管理アプリ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/companies">企業一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/companies/new">企業登録</a>
        </li>
      </ul>
      <div class="d-flex me-5">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont, placeholder: "企業名" %>
          <%= f.select :current_status_eq, [["未選択", "未選択"], ["書類審査待ち", "書類審査待ち"], ["一次面接待ち", "一次面接待ち"], ["二次面接待ち", "二次面接待ち"], ["最終面接待ち", "最終面接待ち"], ["合格", "合格"], ["不合格", "不合格"], ["その他", "その他"]], include_blank: "ステータス" %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>